.container{
    background-image: url("pictures2/mindcraftLandscape.png");
}
.col-sm-10 {
    background-color: antiquewhite;

}
.col-sm-3 {
    background-color: antiquewhite;
}
#contents{
    background-color: antiquewhite;
    font-family: "Lucida Sans Unicode";
}
#importantText{
    text-emphasis-color: crimson;
}